@font-face{
    font-family: 'Ubuntu';
    src: local('Ubuntu-Light'),
            url('../font/Ubuntu-Light.ttf') format("truetype");
}
:root{
    --text-color:#01161E;
    --link-color:#124559;
    --visited-link-color:#598392;
    --marmer-size:75px;
	--marker-block-size:200px;
}
ol, ul{
    list-style:url('../media/ukraine-list.png') inside;
}
li{
    margin-top:5px;
}
*{
    transition:.2s;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	font-family: Ubuntu;
	vertical-align: baseline;
    box-sizing: border-box;
    color:var(--text-color);
}
h1{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-top:15px;
}
h2{
    margin-top:10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
h3{
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

a{
    text-decoration: none;
    color:var(--link-color);
}
a:hover{
    color:var(--visited-link-color);
}
body::-webkit-scrollbar{
    display: none;
}
body{
    min-height: 100vh;
    min-width: 100vw;
    display:flex;
    flex-direction: column;
    height: auto;
}
.header, .footer {
    flex:0 1 auto;
    height: 130px;
    display: flex;
    background: #E9E9E9;
}

/*HEADER*/
.header-site_name {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    height: 100%;
    padding:10px 0px;
    margin:0 auto;
}
.header-site_name div p{
    margin-top:20px;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
}
.header-site_name div p a{
    font-size: 1.2em;
}
.header-site_name div p:last-child{
    margin:15px 0px 0px 15px;
}
.header-site_name div img{
    height: 100%;
}

/*MAIN*/
.main{
    flex:1 1 100%;
    padding:20px 40px ;
}
.main_content{
    display: flex;
    justify-content: space-around;
}

/*FOOTER*/
.footer{
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
}
.footer_contact-us p{
    margin:0px 0px 0px 10px;
}
.footer_copyringt { 
    flex:0 0;
}


/*REGIONS*/

.marker-container{
	position:absolute;
}
.marker{
	width: var(--marmer-size);
	height: var(--marmer-size);
	position:relative;
}
.marker svg{
	width: var(--marmer-size);
	height: var(--marmer-size);
	position:absolute;
	z-index: 0;
}
.marker svg path:hover{
	cursor:pointer;
}
.marker img{
	position:absolute;
	z-index: 1;
	width: calc(var(--marmer-size)*0.560);
	height: calc(var(--marmer-size)*0.560);
	border-radius:100%;
	margin:calc(var(--marmer-size)*0.100) calc(var(--marmer-size)*0.220);
}
/*img*/
.region-block{
    margin-top:10px;
    width: 100%;
    display:flex;
    justify-content: space-around;
}
.region-block img{
    height: 650px;
}

/*block*/
.marker-info-block{
    background:#fff;
	height: var(--marker-block-size);
	width: calc(var(--marker-block-size)*2);
	display: flex;
	gap:10px;
	box-shadow: 0px 0px 12px #5eb1f5;
	border: 4px solid #e3e3e3;
	border-radius: 25px;
	padding: 10px 15px;
	position:relative;
	left:calc(var(--marmer-size) + 10px);
	top:calc(0px - var(--marmer-size) + 10px);
}
.disabled{
	display: none;
}
.block-photo{
	height: auto;
	border-radius: 30px;
	margin-left: 5px;
	margin: auto 0;
}
.block-photo img{
	width: 140px;
	height: 140px;
	object-fit: cover;
	border-radius: 100%;
	border:solid black 3px;
}
.block-text-wrapper{
	display: flex;
	flex-direction: column;
}
.block-name{
	padding-left:20px; 
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom:1px solid #000;
}
.block-name .name {
	font-size: 100%;
	font-weight: 800;
	color: #000;
	text-transform: uppercase;
}
.age{
	font-size: 15px;
	font-weight: 600;
}
.block-record{
	width: 100%;
	color: #000;
	font-size: 90%;
	font-weight: 600;
	padding-left:7px; 
}


