@media(max-width:900px){
	.mobile{
		display: block;
	}
	.ukrainian_map, .region-wrapper{
		display: none;
	}
    .header-site_name div p:last-child {
        margin: 15px 0px 0px 60px;
    }
    .main{
        padding:10px 0px;
    }
    .footer{
        min-height: 100px;
        height:auto;
        padding: 4px 15px;
    }
    .mobile h2{
        margin-left:10px;
    }
    .mobile ul{
        margin-left:20px;
    }
    .mobile ul li a{
        line-height: 24px;
    }
    .main_come-back-urls{
        padding:3px 15px;
    }
    .mobile-record-container .marker-info-block{
        width: 100vw;
        position: relative;
        margin-top: 15px;
        border-radius: 0px;
        top:inherit;
        left: inherit;
        border: 1px solid #e6e6e6;
    }
    .block-text-wrapper{
        width: 300px;
    }
    .block-blame{
        height: 150px;
        max-width: 250px;
        margin:auto auto;
    }
    .block-blame img{
        height: 150px;
    }
    .block-photo img{
        border-radius: 100%;
    }
}
@media(max-width:550px){
    .block-blame img{
        height: 130px;
        margin:10px 0;
    }
    .header-site_name div img{
        display: none;
    }
    .header-site_name div p{
        font-size:1.2em;
    }
}
@media(max-width:510px){
    .block-blame img{
        height: 50px;
        margin:0 0;
    }
    .block-blame{
        position:absolute;
        left:10px;
    }
    .header-site_name div img{
        display: none;
    }
}